#mainAboutSection {
    width: 60%;
    border: black;
    margin-top: 30px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    position: relative;
}

#aboutInfo {
    padding: 20px;
}

#salonImages {
    text-align: center;
}

.salonImg {
    padding: 10px;
    border-radius: 20px;
    -webkit-filter: drop-shadow(2px 2px 20px #802030);
    width: 50%;
}

#socialMediaDiv {
    padding: 10px 0 80px 80px;
    text-align: left;

}

@media only screen and (max-width: 600px) {
  #mainAboutSection {
    width: 100%;
}

#socialMediaDiv {
    padding: 10px 0 80px 20px;
}

.salonImg {
    width: 70%;
}

}

@media only screen and (max-width: 1000px) {

.salonImg {
    width: 70%; 
}

}