#mainAboutSection {
    background-image: url("https://i.imgur.com/Sd0PCAs.jpg?1");
    width: 60%;
    float: right;
    border: black;
    margin-top: 30px;
    font-family: 'Didot';
    position: relative;

}

#aboutInfo {
    padding: 20px;
}

#salonImages {
    position: absolute;
    left: 5%;

}
.salonImg {
    width: 300px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    -webkit-filter: drop-shadow(2px 2px 20px #802030);

    
}

#socialMediaDiv {
    padding: 10px 0 80px 80px;

}