
#stylistBackground {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#stylistBackground img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

#stylistInfo {
    background-color: rgba(98, 201, 219, 0.541);
    width: 70%;
    margin-top: 50px;
    padding: 100px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Caveat', cursive;
    font-size: 25px;

}