@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap');
* {
    margin: auto;
}

#header {
    background-color: rgb(236, 228, 220);
    position: relative;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Didot';
    margin-bottom: 0;
    background: 50% 100% / 90% 80% no-repeat
              radial-gradient(ellipse at bottom, rgb(216, 108, 126), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(170, 228, 230, 0.534);
    font-size: 8vh;
    
        -webkit-animation: glowing 1700ms infinite;
        -moz-animation: glowing 1700ms infinite;
        -o-animation: glowing 1700ms infinite;
        animation: glowing 2200ms infinite;
      }
      @-webkit-keyframes glowing {
        0% {
          background-color: #0091b2;
          
        }
        50% {
          background-color: #21c7ed;
          
        }
        100% {
          background-color: #0091b2;
         
        }
      }
      @keyframes glowing {
        0% {
          background-color: #0091b2;
          
        }
        50% {
          background-color: #21c7ed;
          
        }
        100% {
          background-color: #0091b2;
      
        }
    
}


#city {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    margin: 0 10px 20px 10px;
    
}

#nav {
    display: flex;
    justify-content: center;
    margin-right: 30%;
    margin-left: 30%;
    
    
}

#contain {
    width: 100%;
    background-color: rgba(209, 131, 142, 0.733);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
