h1 {
    text-align: center;
    font-family: 'Monoton';
    src: url ("https://fonts.google.com/specimen/Monoton?selection.family=Caveat|Major+Mono+Display|Monoton|Syncopate");
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}