
#footer {
    position: relative;
    width: 100%;
    background-color: rgba(209, 131, 142, 0.733);
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Didot';
    font-size: 15px;
    padding-bottom: 2%;
    padding-top: 1%;
    line-height: 1.6;
    border-top: 4px solid rgba(0, 0, 0, 0.055);

}

#copy {
    text-align: center;
    font-family: 'Caveat', cursive;

}

#icons {
    text-align: right;
    position: absolute;
    right: 5%;
    bottom: 40%;
}

#info {
    position: absolute;
    left: 5%;
    bottom: 5%;
}